<nav class="navbar navbar-expand navbar-light bg-white topbar static-top shadow">

    <!-- Sidebar Toggle (Topbar) -->
    <button id="sidebarToggleTop" class="btn btn-link d-md-none rounded-circle mr-3">
        <i class="fa fa-bars"></i>
    </button>

    <!-- Topbar Navbar -->
    <ul class="navbar-nav ml-auto">
        <div class="topbar-divider d-none d-sm-block"></div>
        <li class="nav-item dropdown no-arrow">
            <a class="nav-link dropdown-toggle" routerLink="home" >
                <span class="mr-2 d-none d-lg-inline text-gray-600 ">Home</span>
            </a>
        </li>
        <div class="topbar-divider d-none d-sm-block"></div>
        <li class="nav-item dropdown no-arrow">
            <a class="nav-link dropdown-toggle" routerLink="saved" >
                <span class="mr-2 d-none d-lg-inline text-gray-600 ">Saved Articles</span>
            </a>
        </li>
        <div class="topbar-divider d-none d-sm-block"></div>
        <li class="nav-item dropdown no-arrow">
            <a class="nav-link dropdown-toggle" routerLink="profile" >
                <span class="mr-2 d-none d-lg-inline text-gray-600 ">Profile</span>
                <img class="img-profile rounded-circle" src="https://picsum.photos/400/500?grayscale">
            </a>
        </li>
        <li class="nav-item dropdown no-arrow">
            <a class="nav-link dropdown-toggle btn text-danger" (click)="logOut()" >
                <span class="mr-2 d-none d-lg-inline text-gray-600 ">Logout</span>
            </a>
        </li>
    </ul>

</nav>